@page
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="text-center">
        <h1 id="welcome" class="display-5">Welcome to my Blackjack clone!</h1>
    </div>

    <p>This web application is a clone of the popular card game Blackjack, written in JavaScript &amp; C# using the ASP.NET Core framework &amp; its SignalR library.</p>

    <p>It is a simulation of the basic form of the game, allowing multiple players to compete against each other and a dealer through "hitting" &amp; "standing", chat to each other, and to change their settings to enhance their experience.</p>

    <p>Please refer to the 'Updates' and 'Issues' pages to see what changes are proposed.</p>

    <div class="d-flex justify-content-center">
        <a href="/Game" class="primary-link-button">Play &gt;&gt;</a>
    </div>
</div>