@page
@{
    ViewData["Title"] = "Issues";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-5">Issues</h1>
    </div>

    <p>The below are issues of which I am aware:</p>

    <p>
        <ul class="container">
            <li>Reconnection to game and registration does not occur should there be disconnection, such as on browser refresh</li>
            <li>Overall appearance at different screen resolutions</li>
            <li>Display of game record at smaller screen resolutions</li>
        </ul>
    </p>

    <p>Please bear with me as I investigate and work on solutions.</p>

    <p>If you have suggestions for fixes to these or encounter additional issues, please feel free to let me know.</p>
</div>