@page
@{
    ViewData["Title"] = "Updates";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-5">Updates</h1>
    </div>

    <p>Here is a list of updates that are being considered:</p>

    <p>
        <ul class="container">
            <li>Functionality:
                <ul class="container">
                    <li>Ability to unregister players, both before and during games</li>
                    <li>Logging the actions of the dealer's turn</li>
                    <li>Alphanumeric validation of usernames server-side, and disabling of the add button until input is deemed valid, as is the case for the Chat panel</li>
                    <li>Fixes, refactors and quality-of-life improvements to what existed in the console application</li>
                </ul>
            </li>
            <li>Gameplay:
                <ul class="container">
                    <li>Betting</li>
                    <li>"Splitting"</li>
                    <li>"Doubling down"</li>
                    <li>"Insurance"</li>
                </ul>
            </li>
            <li>Settings:
                <ul class="container">
                    <li>Theme modification</li>
                    <li>Card style modification</li>
                    <li>Displaying other players' hands</li>
                    <li>Number of decks used</li>
                </ul>
            </li>
        </ul>
    </p>
    <p>If you have suggestions for features or improvements, please feel free to let me know.</p>
</div>